when@dev:
    _errors:
        resource: '@FrameworkBundle/Resources/config/routing/errors.xml'
        prefix: /_error

app_login:
    path: '/login'
    controller: 'App\Controller\SecurityController::login'


app_register:
    path: '/register'
    controller: 'App\Controller\RegistrationController::register'


dashboard: ## nom de la route
    path: / ## url 
    controller: App\Controller\DashboardController::index




## vehicule
vehicules_list:
    path: '/admin/vehicules'
    controller: 'App\Controller\AdminController::vehiculesList'
    # ...
show_vehicule:
    path: '/admin/vehicule/{id}'
    controller: 'App\Controller\AdminController::showVehiculeByID'


create_vehicule:
    path: '/vehicule/create'
    controller: 'App\Controller\AdminController::createVehicule'
    # ...

update_vehicule:
    path: '/admin/vehicule/{id}/update'
    controller: 'App\Controller\AdminController::updateVehicule'
    # ...


delete_vehicule:
    path: '/admin/vehicule/{id}/delete'
    controller: 'App\Controller\AdminController::deleteVehicule'
   
## admin

homeAdmin: ## nom de la route
    path: /admin ## url 
    controller: App\Controller\AdminController::adminHome

user_details:
    path: /admin/user-details ## url 
    controller: App\Controller\ProfileAdminController::userDetails



## members

users_list:
    path: '/admin/users'
    controller: 'App\Controller\AdminController::usersList'
    # ...

create_users:
    path: '/admin/user/create'
    controller: 'App\Controller\AdminController::createUser'
    # ...

update_users:
    path: '/admin/user/{id}/update'
    controller: 'App\Controller\AdminController::updateUser'
    # ...

delete_users:
    path: '/admin/user/{id}/delete'
    controller: 'App\Controller\AdminController::deleteUser'


show_users:
    path: '/user/{id}'
    controller: 'App\Controller\AdminController::showUser'


## commande

show_commande:
    path: '/commande/{id}'
    controller: 'App\Controller\AdminController::showCommmande'


orders_list:
    path: '/admin/orders'
    controller: 'App\Controller\AdminController::ordersList'
    # ...

create_commande:
    path: '/admin/commande/create'
    controller: 'App\Controller\AdminController::createCommande'
    # ...


update_commande:
    path: '/admin/commande/{id}/update'
    controller: 'App\Controller\AdminController::updateCommande'
    # ...

delete_commande:
    path: '/admin/commande/{id}/delete'
    controller: 'App\Controller\AdminController::deleteCommande'
   

 # #  recher