<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Ajoutez d'autres liens CSS ici si nécessaire -->
	</head>
	<body>

		{% block body %}{% endblock %}

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- Ajoutez d'autres liens JavaScript ici si nécessaire -->
	</body>
</html>
