<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard - Recherche de Véhicules</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			/* Styles pour l'image en arrière-plan */
			body {
				background: url('https://img.freepik.com/photos-premium/trafic-roue-technologie-classique-automobile-moderne_665346-119.jpg') no-repeat center center fixed;
				background-size: cover;
				height: 100%;
			}

			/* Styles pour le formulaire */
			.search-form {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: rgba(255, 255, 255, 0.8);
				padding: 20px;
				border-radius: 5px;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{{ path('dashboard') }}">Mon Site</a>

			<!-- Liste déroulante -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li
						class="nav-item">
						<!-- Lien transformé en un emoji de profil -->
						<a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span style="font-size: 24px;" class="material-icons">👤</span>
						</a>
						<!-- Contenu de la liste déroulante -->
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
							<a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<!-- Formulaire de recherche -->
		<div class="container search-form">
			<h1>Recherche de véhicules disponibles :</h1>

			<form action="{{ path('search_vehicules') }}" method="GET">
				<label for="dateDebut">Date de début :</label>
				<input type="date" id="dateDebut" name="date_debut">

				<label for="dateFin">Date de fin :</label>
				<input type="date" id="dateFin" name="date_fin">

				<button type="submit">Rechercher</button>
			</form>

			<!-- Autres éléments ou scripts JavaScript -->
		</div>


		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
